/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Hero Section */
section {
    text-align: center;
    padding: 50px 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom:150px;
}

section p {
    font-size: 1.0em;
    color: #555;
}

/* Features Section */
section div {
    display: inline-block;
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section div h3 {
    color: #4CAF50;
    font-size: 1.5em;
}

section div p {
    color: #666;
    font-size: 1em;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
